name: Sync workflow

on:
  push:
    branches:
      - default
  workflow_dispatch:

permissions: write-all

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@master
        
      - name: Run GitHub File Sync
        uses: BetaHuhn/repo-file-sync-action@v1
        with:
          GH_PAT: ${{ secrets.GITHUB_TOKEN }}
          CONFIG_PATH: .github/sync_settings/sync_files.yml
