name: sync workflow

on:
  push:
    branches:
      - default
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        
      - name: Run GitHub File Sync
        uses: BetaHuhn/repo-file-sync-action@v1
        with:
          GH_PAT: ${{ secrets.REPO_TOKEN }}
          CONFIG_PATH: .github/sync_settings/sync_files.yml
